<%- include('partial/head') %> <%- include('partial/nav') %>
<div id="content">
  <h1>Ajouter une annonce</h1>

  <form>
    <label for="titre">Titre :</label>
    <input type="text" name="titre" id="titre" />

    <label for="description">Description :</label>
    <input type="text" name="description" id="description" />

    <label for="adresse">Adresse :</label>
    <input type="text" name="adresse" id="adresse" />

    <label for="code_postal">Code postal :</label>
    <input type="number" name="code_postal" id="code_postal" />

    <label for="ville">Ville :</label>
    <input type="text" name="ville" id="ville" />

    <label for="prix">Prix :</label>
    <input type="number" name="prix" id="prix" />

    <button type="submit" onclick="create()">Créer</button>
  </form>
</div>